.faucet{
    background: url('/src/assets/images/cube.png') no-repeat;
    color: var(--black);
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fau{
    width: 80vw;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.75);
}
.fau label input{
    width: 500px;
    max-width: 70vw;
    background: var(--white);
    color: var(--black);
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 18px;
}
.fau form button{
	font: inherit;
	border: 0;
    background: var(--purple);
    color: var(--white);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 12px 36px;
    margin-left: -96px;
}
.fau h4{
    padding: 1em 0;
    text-transform: capitalize;
    color: var(--lBlack);
}
.fau ul{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}
.fau ul li{
    flex-grow: 1;
    min-width: 20%;
    height: 70px;
    padding: 1em 0;
    margin: 1em; 
    text-align: center;
    background: radial-gradient(49.93% 49.8% at 50% 50%, rgba(253, 251, 251, 0.8) 0%, #FDFBFB 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 0px 4px rgba(66, 5, 240, 0.4);
    border-radius: 4px;
}
.fau ul li h3{
    color: var(--lBlack);
}
.fau ul li h5{
    padding: .5em 0;
}
@media screen and (max-width:992px){
    .fau form{
        flex-direction: column;
    }
    .fau form button{
        margin: 1em 0;
    }
}