.search{
    display: flex;
    align-items: center;
    background: radial-gradient(49.93% 49.8% at 50% 50%, #FDFBFB 0%, #FDFBFB 100%);
    height: 35px;
    border-radius: 4px;
    max-width: 100%;
}
.search select{
    width: 120px;
    max-width: 15vw;
    height: 35px; 
    background: transparent;
    border: 1px solid var(--lBlack) ;
    font-size: 14px;
    padding: 0 .5vw;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    overflow: hidden;
    background: url('/src/assets/icons/d_arr_b.svg') no-repeat transparent;
    background-size: 12px;
    background-position: 90px;
}
.search input[type=text]{
    width: 500px;
    max-width: 70vw;
    height: 35px;
    padding: 0 1vw;
    outline: none;
}
.search button{
    width: 30px;
    background: var(--purple);
    height: 35px;
    border: none;
}