Package: aether
Version: 1.0
Architecture: amd64
Maintainer: kj <kj@aetherlabs.io>
Installed-Size: 253
Depends: libc6 (>= 2.34), python3:any
Section: blockchain
Priority: optional
Homepage: aetherlabs.io/guides/0xAether
Description: The on-chain blockchain.
 A package used to communicate with different blockchains and to relay information accordingly
