@import './styles/index.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 200ms ease-in-out;
    -webkit-tap-highlight-color: transparent;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto";
    letter-spacing: 0.05em;
}

a{
    text-decoration: none;
    color:var(--white);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
}

button{
    outline: none;
    color:var(--white);
    font-weight: bold;
    cursor: pointer;
    font-family: "Roboto";

}
button:hover{
    transform: scale(1.1);
}

ul{
    list-style: none;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex-direction: column;
}
.center{
    align-items: center;
}
.no-wrap{
    flex-wrap: nowrap;
}

.none{
    display: none;
}


.Toastify__toast-body > div:last-child{
    white-space: pre-wrap;
}