Package: aether-dbgsym
Package-Type: ddeb
Source: aether
Version: 1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: kj <kj@aetherlabs.io>
Installed-Size: 23
Depends: aether (= 1.0)
Section: debug
Priority: optional
Description: debug symbols for aether
Build-Ids: adde380c17670033b16b9f15f9d1bf2743ab5330 e3ba3d5cc79612f93607a58c61a32525593709f8
