.logs{
    background: linear-gradient(-124deg, #aeaeae 3%, #1709B6 13.67%, #130F43 43.65%, var(--black) 95.87%);
}
.bg_cube{
    width: 100%;
    background: linear-gradient(280deg, #aeaeae -3.5%, #1709B6 13.67%, #130F43 43.65%, var(--black) 95.87%);
}
.h_log{
    min-height: 250px;
    background: url('/src/assets/images/cube.png') no-repeat right;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3em 8vw;
}
.h_log h1{
    color: var(--purple);
    font-size: 40px;
    white-space: pre-wrap;
    text-transform: uppercase;
}
.h_log .flex img{
    width: 50px;
    border: 1px solid var(--purple);
    margin: 2vh 0;
}
.h_log h2{
    color: var(--white);
    font-size: 30px;
    text-transform: capitalize;
    padding-left: 1.5em;
}
.h_log h2 span{
    color: var(--grey);
}
/* --------------------- */

.boxs_cont{
    height: 100%;
    margin: 0 auto;
    transform: translateY(-5vh);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box{
    background: var(--black);
    box-shadow: 0px 0px 4px rgba(66, 5, 240, 0.4);
    border-radius: 10px;
}
.box h2{
    padding: 1em;
    color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.info .box{
    width: 40%;
    min-height: 200px;
    border: 1px solid var(--black);
}
.info ul{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

}
.info ul li{
    flex-grow: 1;
    min-width: 40%;
    height: 100px;
    padding: 1.1em 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    color: var(--white);
    line-height: 2em;
    border-right:1px solid #DDD9F3;
    border-bottom:1px solid #DDD9F3;
}
.info ul li:nth-child(even){
    border-right: none;
}
.info ul li img{
    width: 30px;
    height: 30px;
    margin: 0 2em;  
}
.info span{
    color: var(--grey);
    display: block;
}
/* ------ */
.box.blocks{
    width: 90%;
    margin: 5vh auto;
    background: radial-gradient(49.93% 49.8% at 50% 50%, #FDFBFB 0%, #FDFBFB 100%);
}
.t_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 4em;
}
.t_head button{
    width: 40px;
    height: 30px;
    background: #FDFBFB;
    border: 1px solid #4205F0;
    box-shadow: 0px 0px 4px rgba(66, 5, 240, 0.4);
    border-radius: 10px;
}
.t_head button:first-child{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.t_head p{
    color: var(--purple);
    padding: 0 1em;
}

/* TABS */
.nav-pills{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    transform: translateY(-3vh);
}
.nav-item{
    width: 600px;
}
.box.blocks .nav-pills button{
    width: 100%;
    height: 40px;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(66, 5, 240, 0.4);
    border-radius: 10px;
    user-select: none;
    font-size: 16px;
    background: var(--black);
    border: 1px solid var(--black);
    color: var(--white);
}
.box.blocks .nav-pills .active{
    color: var(--purple);
    background: #FDFBFB;
    border: 1px solid #4205F0;

}
/* BLOCKS TABLE */
.table-wrap {
    width: 100%;
    min-height: 300px;
    overflow: auto;
}
.table-wrap table{
    width: 100%;
    height: 100%;
    border-style: hidden;
    border-spacing: 0;
    margin: 0 auto;
}
.table-wrap table thead th{
    font-size: 16px;
    padding: 1em 4.5em;
    border: 1px solid #DDD9F3;
    text-align: start;

}
.table-wrap table tbody td{
    text-align: start;
    font-weight: bold;
    padding: 1.5em 5em;
    border: 1px solid #DDD9F3;
}

.table-wrap table tbody td:nth-child(3){
    color: var(--purple);
}
.table-wrap a{
    color: var(--black);
}
.table-wrap span{
    color: var(--purple);
}

.view_btn{
    width: 60%;
    height: 40px;
    margin: 3em 20%;
    background: #FDFBFB;
    border: 1px solid #4205F0;
    box-shadow: 0px 0px 4px rgba(66, 5, 240, 0.4);
    border-radius: 10px;
    color: var(--purple);
    font-size: 16px;
}
/* ------------------- */

.ch-menu {
    position: relative;
    background: var(--tlWhite) no-repeat;
    padding: 30px;
    cursor: pointer;
    background-size: 100% 100%;
    border-radius: 10px;
}
.ch-menu:hover{
    background: var(--grey);
}
.ch-menu::before {
    transform: rotate(0deg);
}
.ch-menu::after {
    transform: rotate(-90deg);
}
.ch-menu.open::before {
    transform: rotate(45deg);
}
.ch-menu.open::after {
    transform: rotate(-45deg);
}
.ch-menu.open .m-chain {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
}
.ch-menu.open .m-chain:nth-child(1) {
    bottom: 40px;
    right: 70px;
}
.ch-menu.open .m-chain:nth-of-type(2) {
    bottom: 80px;
    transition-delay: 0.05s;
}
.ch-menu.open .m-chain:nth-child(3) {
    bottom: 40px;
    right: -70px;
    transition-delay: 0.1s;
}
.ch-menu.open .m-chain:nth-child(4) {
    bottom: -40px;
    right: -70px;
    transition-delay: 0.15s;
}
.ch-menu.open .m-chain:nth-child(5) {
    bottom: -80px;
    right: 0px;
    transition-delay: 0.2s;
}
.ch-menu.open .m-chain:nth-child(6) {
    bottom: -40px;
    right: 70px;
    transition-delay: 0.25s;
}
.m-chain {
    padding: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    box-shadow: inherit;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
}
.m-chain:hover {
    transform: scale(1.1);
}
/* TRANSACTION PAGE */
.box.trans{
    width: 100%;
    min-height: 400px;
}
.trans ul{
    border: 1px solid #DDD9F3;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}
.trans ul:last-child{
    border-bottom: none;
}
.trans ul li{
    min-width: 50%;
    flex-grow: 1;
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.trans ul li h3 img{
    margin-right: .5em;
}
.trans ul li h3:last-child{
    color: var(--purple);
    text-align: start;
    width: 70%;
    font-size: 12px;
}
.trans section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trans section h2{
    white-space: pre-wrap;
    color: var(--grey);
    text-align: center;
    line-height: 4vh;
}
/* --------- */
.acc_txn ul{
    max-width: 100%;
    max-height: 500px;
    overflow: auto;
}
.acc_txn ul li{
    display: flex;
    align-items: center;
    margin: 1em 0;
}
.acc_txn ul li > *{
    background: radial-gradient(49.93% 49.8% at 50% 50%, rgba(253, 251, 251, 0.8) 0%, #FDFBFB 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 0px 4px rgba(66, 5, 240, 0.4);
    border-radius: 4px;
    padding: 1em;
    margin-right: 2em;
}
.layout-err{
    width: 100%;
    height: 100%;
    position: absolute;
    background: red;
}

/* MOBILE */
@media screen and (max-width:992px) {
    .h_log{
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
    }

    .h_log .flex, .h_log col{
        align-items: center;
        justify-content: center;
    }
   
    .boxs_cont{
        width: 100%;
    }
    .box.trans h3{
        width: 100vw;
        line-height: 2em;
    }
    .box.blocks{
        width: 95%;
    }
    .info > *{
        width: 100%;
        flex-grow: 0.9;
    }

    .t_head{
        padding: 0;
    }
    .t_head p{
        line-height: 25px;
    }

    .t_head div{
        width: 100%;
        flex-wrap: nowrap;
    }
}
