._1g5o{min-width:120px}
._3iub{-webkit-transition:background-color 2000ms ease-in-out}._3iub._3iuc{background-color:#fff9d7;-webkit-transition-delay:0ms;-webkit-transition-duration:0ms}

#bootloader_GOf4_{height:42px;}.bootloader_GOf4_{display:block!important;}