._3pni{width:100%}._7b5g{width:30%}
.sp_3MZ0xziO-l7{background-image:url(/rsrc.php/v3/yJ/r/OPwGLvsRIdc.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:40px}.sp_3MZ0xziO-l7.sx_4dac3a{background-position:0 0}.sp_3MZ0xziO-l7.sx_3699b8{background-position:0 -33px}

#bootloader_LmFhX{height:42px;}.bootloader_LmFhX{display:block!important;}