Source: aether
Section: blockchain
Priority: optional
Maintainer: kj <kj@aetherlabs.io>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-all-dev 
Standards-Version: 4.6.0
Homepage: aetherlabs.io/guides/0xAether
#Vcs-Browser: https://salsa.debian.org/debian/aether
#Vcs-Git: https://salsa.debian.org/debian/aether.git
Rules-Requires-Root: no

Package: aether
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: The on-chain blockchain.
	A package used to communicate with different blockchains and to relay information accordingly

