.soon{
    height: 80vh;
    background: var(--lBlack);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);    
}
.soon h1{
    font-size: 4rem;
    color: var(--white);
    box-shadow: 0 10px 20px #fafafa1a;
    width: 50%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}