:root{
    --purple: #4205F0;
    --white:#fff;
    --black:#000;
    --grey:#A59EC9;
    --gold:#fedb00;
    --lWhite:#D0D0D0;
    --tlWhite: #ffffff99;
    --lBlack: #010102;
    --bg: linear-gradient(180deg, #6D7889 0%, #2D3DD2 100%);
}

[data-theme='dark'] {
    --purple: #4205F0;
    --white:#000;
    --black:#fff;
    --grey:#A59EC9;
    --gold:#fedb00;
    --lWhite:#2c2c2c;
    --tlWhite: #00000099;
    --lBlack: rgb(255, 255, 255,0.5);
    --bg: linear-gradient(180deg, #6D7889 0%, #2D3DD2 100%);
  }