@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal; 
    src: url('/src/assets/fonts/Roboto/Roboto-Regular.ttf') format("truetype");
  }

@font-face {
    font-family: "Allerta";
    font-style: normal;
    font-weight: normal; 
    src: url('/src/assets/fonts/Allerta/Allerta-Regular.ttf') format("truetype");
  }

@font-face {
    font-family: "Monarda";
    font-style: normal;
    font-weight: normal; 
    src: url('/src/assets/fonts/Monarda/Monarda.ttf') format("truetype");
  }

  