._2xo._56v-{display:none}._4woj{height:171px}
.sp_V53xxlprDHX{background-image:url(/rsrc.php/v3/y_/r/9wKDa8T9gJ8.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:21px;width:21px}.sp_V53xxlprDHX.sx_25e0aa{background-position:0 0}.sp_V53xxlprDHX.sx_14fcf8{background-position:0 -22px}

#bootloader_1LPIc{height:42px;}.bootloader_1LPIc{display:block!important;}